.btn {
  &__form {
    padding: 14px 30px;
    background-color: $primary;
    border-radius: 0;
    border: 2px solid $primary;
    letter-spacing: 0.02em;
    color: $primary-color;
    font-size: 18px;

    &:hover {
      color: $yellow;
    }
  }
  &__reg {
    padding: 16px 30px;
    font-size: 18px;
  }
  &__main-block {
    display: inline-block;
    padding: 24px 60px;
    background-color: $yellow;
    font-size: 26px;
    text-transform: uppercase;
    color: #000;

    &:hover {
      color: #000;
    }
  }
  &__primary {
    margin: 0 auto ;
    padding: 20px 100px;
    border-color: $primary-green;
    background-color: $primary-green;
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
    border-radius: 0em;
  }
}