.btn {
  border-radius: 0;
  text-transform: uppercase;
  &__form {
    padding: 14px 30px;
    background-color: $primary;
    border: 2px solid $primary;
    letter-spacing: 0.02em;
    text-transform: none;
    color: $primary-color;
    font-size: 18px;

    @media (max-width: 980px) {
      display: none;
    }
    &:hover {
      color: $primary-green;
    }


    &_reg {
      color: $black;
      background-color: $white;
      border-color: $white;
    }
  }
  &__main-block {
    display: inline-block;
    padding: 24px 60px;
    background-color: $yellow;
    font-size: 26px;
    color: #000;

    &:hover {
      color: #000;
    }
  }
  &__primary {
    margin: 0 auto ;
    padding: 20px 100px;
    border-color: $primary-green;
    background-color: $primary-green;
    font-size: 1.25rem;
    color: $primary-color;
    border-radius: 0em;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &__tab {
    margin: 0 1rem;
    padding: 1rem 2rem;
    min-width: 260px;
    background-color: #F0F0F0;
    font-size: 1.125rem;
    line-height: 1;
    color: $primary;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 1.25rem;
    }
    
    &_active {
      background-color: $primary;
      color: $white;
    }
  }
}