.btn {
  border-radius: 0;
  text-transform: uppercase;
  transition: all .1s ease-in-out;

  &:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    color: $primary-color;
  }

  &__form {
    padding: 14px 30px;
    background-color: $primary;
    border: 2px solid $primary;
    letter-spacing: 0.02em;
    text-transform: none;
    color: $primary-color;
    font-size: 18px;
    
    @media (max-width: 980px) {
      display: none;
    }
  }

  &__input {
    padding: 14px 30px;
    background-color: $primary;
    border: 2px solid $primary;
    letter-spacing: 0.02em;
    text-transform: none;
    color: $yellow;
    font-size: 1rem;

    &:hover {
      color: $yellow;
    }
  }

  &__blank {
    padding: 14px 30px;
    background-color: $white;
    border: none;
    letter-spacing: 0.02em;
    text-transform: none;
    font-size: 18px;

    &:hover {
      box-shadow: none;
      color: #000;
    }
  }

  &__main-block {
    display: inline-block;
    padding: 24px 60px;
    background-color: $yellow;
    font-size: 26px;
    color: #000;

    &:hover {
      color: #000;
    }
  }

  &__primary {
    margin: 0 auto ;
    padding: 20px 100px;
    border-color: $primary-green;
    background-color: $primary-green;
    font-size: 1.25rem;
    color: $primary-color;
    border-radius: 0em;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__tab {
    margin: 0 1rem;
    padding: 1rem 2rem;
    min-width: 260px;
    background-color: #F0F0F0;
    font-size: 1.125rem;
    line-height: 1;
    color: $primary;

    &:hover {
      background-color: $gray-400;
      color: $primary;
      box-shadow: none;
    }

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 1.25rem;
    }
    
    &_active {
      background-color: $primary;
      color: $white;

      &:hover {
        background-color: $primary;
        color: $white;
        box-shadow: 0 2px 4px rgba(0,0,0,.3);
      }
    }
  }
}