.card {
    &__schedule {
        border-color: #CDCDCD;
    }

    &__body {
        padding: 14px 1.25rem;
        min-height: 6.25rem;
    }

    &__title {
        font-size: 1rem;
        color: $primary-green;
    }
}