.card {
    &__schedule {
        border-color: #CDCDCD;
        margin: 0 .5rem;
        
        @media (min-width: 320px) and (max-width: 980px) {
            border-width: 2px;
            margin: .5rem 0;
        }
    }

    &__body {
        padding: 14px 1.25rem;
        min-height: 6.25rem;

        @media (min-width: 320px) and (max-width: 980px) {
            font-size: 1.5rem;
        }
    }

    &__title {
        font-size: 1rem;
        color: $primary-green;

        @media (min-width: 320px) and (max-width: 980px) {
            font-size: 2rem;
        }
    }
}