.form {
  &__header {
    margin-top: 0;
    margin-right: 30px;
    padding: 14px 24px;
    width: 276px;
    border: 2px solid #E6E6E6;
    background-color: #F5F5F5;
    font-size: 18px;
    vertical-align: middle;
    color: $green;
    opacity: 2;

    &::placeholder {
      color: #B7B7B7;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $green;
    }

    @media (min-width: 320px) and (max-width: 980px) {
      display: none;
    }
  }

  &__subscription {
    padding: 14px 24px;
    width: 100%;
    border: 2px solid #F5F5F5;
    background-color: #F5F5F5;
    font-size: 1rem;
    vertical-align: middle;
    color: $green;

    &:focus {
      outline: none;
    }
  }

  &__input {
    margin-bottom: 30px;
    padding: 14px 24px;
    width: 100%;
    border: 2px solid #E6E6E6;
    background-color: #F5F5F5;
    font-size: 18px;
    vertical-align: middle;
    color: $green;
    opacity: 2;

    &::placeholder {
      color: #B7B7B7;
    }

    &:focus {
      outline: none;
    }

    &_height{
      height: 160px;
      vertical-align: top;
      margin-bottom: 60px;
    }
  }

  &__search {
    margin: 0;
    padding: 14px 20px;
    border: 2px solid #E6E6E6;
    border-right: none;
    background-color: #F5F5F5;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
    color: $green;
    opacity: 2;

    &::placeholder {
      color: #B7B7B7;
    }

    &:focus {
      outline: none;
    }
  }
}