.form {
  &__header {
    margin-top: 0;
    margin-right: 30px;
    padding: 14px 24px;
    width: 360px;
    border: 2px solid #E6E6E6;
    background-color: #F5F5F5;
    font-size: 18px;
    vertical-align: middle;
    color: $green-footer;
    opacity: 2;
    &::placeholder {
      color: #B7B7B7;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 5px $green-footer;
    }
  }
  &__message {
    margin: 4.375rem auto 5rem;
  }
}