.step {
  padding: 0 8px;

  &__img {
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;

    &_reg {
      background-image: url(./assets/images/reg_icon.svg);
    }

    &_head {
      background-image: url(./assets/images/head_icon.svg);
    }

    &_field {
      background-image: url(./assets/images/field_icon.svg);
    }

    &_takepart {
      background-image: url(./assets/images/takepart_icon.svg);
    }

    &_cup {
      background-image: url(./assets/images/cup_icon.png);
    }

    &_trophy {
      background-image: url(./assets/images/trophy_icon.svg);
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;
  }
}
