.step {
    &__img {
        width: 100%;
        height: 10rem;
        @include background-size(cover);
    
        &_reg {
          background: url(./assets/images/reg_icon.svg) no-repeat center center;
        }
    
        &_head {
          background: url(./assets/images/head_icon.svg) no-repeat center center;
        }
    
        &_field {
          background: url(./assets/images/field_icon.svg) no-repeat center center;
        }
    
        &_takepart {
          background: url(./assets/images/takepart_icon.svg) no-repeat center center;
        }
    
        &_cup {
          background: url(./assets/images/cup_icon.png) no-repeat center center;
        }
    
        &_trophy {
          background: url(./assets/images/trophy_icon.svg) no-repeat center center;
        }
      }
    
      &__title {
        font-size: 1.5rem;
        line-height: 1.3;
        text-align: center;

        @media (min-width: 320px) {
          font-size: 1.75rem;
        }
      }

      
}