.user-in {
  display: flex;
  flex-direction: row;

  &__avatar {
    margin-right: 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;

    @media (max-width: 1919px) {
      width: 70px;
      height: 70px;
    }

    img {
      width: 90px;

      @media (max-width: 1919px) {
        width: 70px;
      }
    }
  }

  &__menu {
    margin-top: 30px;
    font-size: 1.875rem;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @media (max-width: 1919px) {
      margin-top: 20px;
    }

    span {
      position: relative;
      margin-right: 50px;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 1px;
        right: -45px;
        width: 40px;
        height: 40px;
        background: url("./assets/images/arrow_user-in.svg") center center
          no-repeat;
        transform: rotate(90deg);
        transition: rotate 0.3s;
      }
    }

    ul {
      display: none;
      position: absolute;
      margin-top: 20px;
      padding: 25px 30px 0;
      border: 1px solid $green;
      background-color: $white;

      li {
        margin-bottom: 25px;
        font-size: 1.125rem;
        list-style: none;
        color: $green;
      }
    }
  }

  .open {
    span:after {
      transform: rotate(0deg);
    }

    ul {
      display: block;
    }
  }
}
