.header {
  @include position(sticky);
  top: -62px;
  z-index: 2;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

  &__nav {
    @include position(sticky);
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 14px 90px;
    background: url(./assets/images/header_nav.jpg) no-repeat center center;
    z-index: -1;
    @include background-size(cover);

    @media (max-width: 1920px) {
      padding: 12px 90px;
    }

    @media (max-width: 1440px) {
      padding: 20px 30px;
    }
  }

  &__login {
    display: flex;
    padding: 20px 90px 30px;
    justify-content: space-between;
    background-color: $white;

    @media (max-width: 1440px) {
      padding: 20px 30px 30px;
      flex-direction: column;
    }
  }

  &__logo {
    display: inline-block;
    cursor: pointer;

    @media (max-width: 1920px) {
      width: 420px;
    }

    @media (max-width: 1920px) {
      width: 390px;
    }

    @media (max-width: 1440px) {
      width: 100%;
    }

    img {
      width: 100%;
      @media (max-width: 1920px) {
        width: 100%;
      }
    }
  }

  &__inputs {
    display: inline-block;
    margin: auto 0;

    @media (max-width: 1440px) {
      text-align: right;
    }
  }
}
