.news-page {
  margin: 60px 0 0;

  img {
    margin-bottom: 20px;
  }

  &__card {
    margin-bottom: 60px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.25s ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.125rem;
    color: $green;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 0.75rem;
    color: $green;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__time {
    align-self: flex-end;
    font-size: 0.625rem;
    color: #c8c8c8;
  }
}
