.playgrounds {

    &__background {
        width: 100%;
        height: 680px;
        background: url('./assets/images/background-playgrounds.jpg') no-repeat center center;
        background-size: cover;
    }

    &__cards {
        padding-top: 40px;
    }

    &__map {
        padding-top: 35px;
    }

    &__search {
        display: flex;
        justify-content: flex-start;
    }
}