.result-info {
  margin: 60px 0;

  &__scores {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: $green;
    text-align: center;
  }

  &__team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__score {
    display: flex;
    flex-direction: column;
    margin: 0 60px;
    font-size: 5rem;
    font-weight: bold;

    time {
      font-size: 1rem;
    }
  }

  &__judge {
    font-size: 1rem;

    span {
      font-weight: normal;
    }
  }

  &__mark {
    margin-bottom: 15px;
    font-size: 1rem;

    span {
      font-weight: normal;
    }
  }

  &__games {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__game {
    padding: 0 20px;
    font-size: 1rem;
    border-left: 1px solid $green;
    border-right: 1px solid $green;
    span {
      font-weight: normal;
    }
  }

  &__teams {
    margin-bottom: 90px;
  }

  &__team {
    margin: 0 15px;
    height: 126px;
    background-color: gray;
  }
}
