.results
    margin: 0 0 0 30px

    @media (max-width: 1200px)
        margin: 0

    &__title
        margin-bottom: 45px
        font-size: 3.125rem
        text-transform: uppercase
        line-height: 1.4
        color: #000

        span
            color: #B3B3B3
            text-transform: none

    &__table
        margin-bottom: 45px
        width: 100%
        border: 1px solid $green

    &__header
        color: #ffffff

        .results__cell
            padding: 15px 0
            background-color: $primary-green
            color: $white
            cursor: default

            &:first-child
                background-color: $green

    &__row
        display: grid
        grid-template-columns: repeat(9, 1fr)
        text-decoration: none
        vertical-align: middle

    &__scores
        display: grid
        grid-template-columns: repeat(12, 1fr)
        text-decoration: none

    &__cell
        padding: 8px 0
        background-color: #fff
        border: 1px solid $green
        height: 47px
        font-size: .625rem
        text-align: center
        color: $green
        cursor: pointer

        &_primary
            cursor: default
            padding: 15px 0
            background-color: $primary-green
            color: #ffffff

        &_tooltip
            position: relative

            .tooltip-results
                display: none

            &:hover
                .tooltip-results
                    display: block

    &__time
        line-height: 1

    &__score
        display: block
        font-size: 1rem
        font-weight: 700
        line-height: 1
