.result-info {
  margin: 60px 0;

  &__scores {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: $green;
  }

  &__score {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    text-align: center;

    time {
      margin-bottom: 15px;
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 10rem;
    font-weight: 600;
    line-height: 128px;
    letter-spacing: -0.12em;
  }

  &__content {
    margin-bottom: 5px;
    font-size: 1rem;

    span {
      font-weight: 600;
    }
  }

  &__mark {
    margin-bottom: 15px;
    font-size: 1rem;

    span {
      font-weight: normal;
    }
  }

  &__games {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__game {
    padding: 0 20px;
    font-size: 0.875rem;
    border-left: 1px solid $green;
    border-right: 1px solid $green;

    &:first-child {
      border-left: 2px solid $green;
    }

    &:last-child {
      border-right: 2px solid $green;
    }

    div {
      font-weight: 600;
    }
  }

  &__teams {
    margin-bottom: 90px;
  }

  &__team {
    margin: 0 15px;
    height: 126px;
    background-color: gray;
  }
}
