.results
    margin: 0 30px

    &__title
        margin-bottom: 45px
        font-size: 3.125rem
        text-transform: uppercase
        color: #000

        span
            color: #B3B3B3
            text-transform: none

    &__table
        margin-bottom: 45px
        max-width: 100%
        border: 1px solid $green

    &__header
        background-color: $primary-green
        color: #ffffff

    &__row
        display: grid
        grid-template-columns: repeat(9, 1fr)
        text-decoration: none

    &__scores
        display: grid
        grid-template-columns: repeat(12, 1fr)
        text-decoration: none

    &__cell
        padding: 15px 0
        border: 1px solid $green
        font-size: .625rem
        text-align: center

        &_dark
            background-color: $green

        &_primary
            background-color: $primary-green
            color: #ffffff

        &_empty
            max-width: 100%
            max-height: 100%
            text-align: left
            position: relative

            &:after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 0
                height: 0
                border-style: solid
                border-width: 62px 0 0 144px
                border-color: transparent transparent transparent #016330
