.sign-in {
  margin: 60px 0 100px;

  &__header {
    margin-bottom: 40px;
  }

  &__row {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1;
  }
}
