.tituls {
    padding: 5rem 0;
    background-color: $primary-green;
    h4 {
      text : {
        transform: uppercase;
        align: center;
      }
      font-size: 22px;
      color: $primary-color;
    }
  }