.tituls {
    padding: 5rem 0;
    background-color: $primary-green;
    &__description {
      padding-bottom: 4.374rem;
      text-align: center;
      font-size: 1.25rem;
      color: $primary-color;
    }
    h4 {
      text : {
        transform: uppercase;
        align: center;
      }
      font-size: 22px;
      color: $primary-color;
    }
  }