@import "~bootstrap/scss/bootstrap";

$primary-color: white;
$green: #42A62A;
$green-footer: #016330;
$gray: #F7F7F7;

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
}

.schedule {
  &__btn {
    margin-top: 100px;
    border-color: #42A62A;
    background-color: #42A62A;
    color: $primary-color;
    border-radius: 0em;
  }
}

.article {
  margin: 70px 0;
  
  &__content {
    padding: 40px 0;
    border : {
      top: 1px solid #CDCDCD;
      bottom: 1px solid #CDCDCD;
    }
  }
}

.tituls {
  padding-top: 70px;
  height: 600px;
  background-color: $green;

  &__title {
    padding-bottom: 40px;
    font-size: 52px;
    color: $primary-color;
    text : {
      transform: uppercase;
      align: center;
    }
  }

  &__description {
    padding-bottom: 70px;
    text-align: center;
    font-size: 20px;
    color: $primary-color;
  }

  h4 {
    text : {
      transform: uppercase;
      align: center;
    }
    font-size: 22px;
    color: $primary-color;
  }
}

.form {
  padding-top: 80px;
  height: 760px;

}

.subscription {
  padding: 100px;
  background: url(./assets/images/background-subscription.jpg) no-repeat center center fixed;
  @include background-size(cover);
  height: 600px;

  &__form {
    padding: 80px 100px;
    height: 280px;
    background-color: $primary-color;
  }

  h3 {
    color: $primary-color;
  }
}

footer {
  background-color: $green-footer;
  height: 100px;
  width: 100%;
}