@import "~bootstrap/scss/bootstrap";

$primary-color: white;
$green: #42A62A;
$green-footer: #016330;
$gray: #F7F7F7;
$yellow: #DFDB00;

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
}

.main {
  padding-top: 200px;
  padding-bottom: 180px;
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center;
  background-color: $gray;

  &__title {
    padding-bottom: 40px;
    font-size: 54px;
    color: $primary-color;
    text-align: center;
  }

  &__content {
    padding-bottom: 120px;
    font-size: 36px;
    color: $primary-color;
    text-align: center;
  }

  &__btn {
    display: inline-block;
    padding: 24px 60px;
    background-color: $yellow;
    font-size: 26px;
    text-transform: uppercase;
    color: #000;
  }
  
  a {
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }
}

.welcome {
  padding-top: 100px;
  padding-bottom: 150px;
  background: url(./assets/images/background_welcome.png) no-repeat center center;
  @include background-size(cover);
  &__title {
    padding-bottom: 40px;
    font-size: 52px;
    text-align: center;
  }
  &__content {
  text-align: center;
  font-size: 22px;
  }
}

.steps {
  background-color: #F1EFF0;

  &__img {
    width: 100%;
    height: 160px;
    @include background-size(cover);

    &_reg {
      background: url(./assets/images/reg_icon.svg) no-repeat center center;
    }

    &_head {
      background: url(./assets/images/head_icon.svg) no-repeat center center;
    }

    &_field {
      background: url(./assets/images/field_icon.svg) no-repeat center center;
    }

    &_takepart {
      background: url(./assets/images/takepart_icon.svg) no-repeat center center;
    }

    &_cup {
      background: url(./assets/images/cup_icon.png) no-repeat center center;
    }

    &_trophy {
      background: url(./assets/images/trophy_icon.svg) no-repeat center center;
    }
  }

  &__title {
    font-size: 24px;
    padding-bottom: 120px;
    text-align: center;
  }
}

.title__main {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 52px;
  text : {
    transform: uppercase;
    align: center;
  }
}

.btn__large {
  margin: 100px auto 0;
  padding: 20px 100px;
  border-color: #42A62A;
  background-color: #42A62A;
  font-size: 20px;
  text-transform: uppercase;
  color: $primary-color;
  border-radius: 0em;
}

.article {
  margin: 70px 0;
  
  &__content {
    padding: 40px 0;
    border : {
      top: 1px solid #CDCDCD;
      bottom: 1px solid #CDCDCD;
    }
  }
}

.tituls {
  padding-top: 70px;
  height: 600px;
  background-color: $green;

  &__title {
    padding-bottom: 40px;
    font-size: 52px;
    color: $primary-color;
    text : {
      transform: uppercase;
      align: center;
    }
  }

  &__description {
    padding-bottom: 70px;
    text-align: center;
    font-size: 20px;
    color: $primary-color;
  }

  h4 {
    text : {
      transform: uppercase;
      align: center;
    }
    font-size: 22px;
    color: $primary-color;
  }
}

.form {
  padding-top: 80px;
  height: 760px;

}

.subscription {
  padding: 100px;
  background: url(./assets/images/background-subscription.jpg) no-repeat center center fixed;
  @include background-size(cover);
  height: 600px;

  &__form {
    padding: 80px 100px;
    height: 280px;
    background-color: $primary-color;
  }

  h3 {
    color: $primary-color;
  }
}

footer {
  background-color: $green-footer;
  height: 100px;
  width: 100%;
}